body {
	height: 100%; /* set body height to 100% */
	margin: 0;
}

#root {
	position: relative;
	display: flex;
	justify-content: center;
	height: 100%; /* set root height to 100% */
}

.App {
	width: 100%;
	overflow: hidden; /* prevent child elements from overflowing */
	display: flex; /* added to center image */
	justify-content: center; /* center image horizontally */
	align-items: center; /* center image vertically */
}

.App > img{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Make the image fill the container without distortion */
    opacity: 0.15; 
}

.play-game-container {
	position: relative;
}

.play-game-container > .play-game-enabled,
.play-game-container > .play-game-disabled {
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%; /* make the image take up 100% of its parent's width */
	height: auto;
	object-fit: cover; /* ensure image covers entire element */
	box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.75); /* Add a shadow around the image */
}

.play-game-disabled {
	pointer-events: none;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
}

@media screen and (min-width: 1000px) {
	.selection-card {
		width: 60%;
		align-self: center;
	}
}
