html{
	height: 100%;
}

body {
	height: 100%; /* set body height to 100% */
	margin: 0;
}

#root {
	position: relative;
	display: flex;
	justify-content: center;
	height: 100%; /* set root height to 100% */
}

.App {
	width: 100%;
	overflow: hidden; /* prevent child elements from overflowing */
	display: flex; /* added to center image */
	justify-content: center; /* center image horizontally */
	align-items: center; /* center image vertically */
}

.App > img{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Make the image fill the container without distortion */
    opacity: 0.4; 
}

.play-game-container {
	position: absolute;
    width: 100%;
    top: 0%;
    height: 100%;
}

.play-game-container > .play-game-enabled,
.play-game-container > .play-game-disabled {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    overflow: auto;
    object-fit: contain;
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.75);
}

.play-game-disabled {
	pointer-events: none;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
}

.play-game-header{
	z-index: 3;
	position: sticky;
    top: 3%;
    left: 0;
    right: 0;
    margin: auto;
	background-color: white;
    height: 2.5rem;
    width: 80%;
    border-radius: 8px;
	display: grid;
    grid-template-columns: 25% 25% 25% 25%;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 1);
	padding: 1%;
}

.play-game-header > h3{
	font-family: 'Monomaniac One', sans-serif;
    place-self: center;
    color: blue;
    font-size: 1.5rem;
}

.play-game-header > img{
	max-width: 100%;
    max-height: 2.5rem;
    justify-self: center;
}


@media screen and (min-width: 1000px) {
	.selection-card {
		width: 60%;
		align-self: center;
	}
}
